<!-- app/views/_dashboard_movie_cards.html.erb -->

<% if movies.present? %>
  <div class="movie-card-container">
    <% movies.each do |movie| %>
      <div class="movie-card">
        <div class="movie-poster">
          <% if movie.poster_image_url.present? && movie.poster_image_url != "N/A" %>
            <img src="<%= movie.poster_image_url %>" alt="<%= movie.title %>">
          <% else %>
            <p>No poster available</p>
          <% end %>
        </div>
        <div class="movie-info">
          <h3><%= movie.title %></h3>
          <p>Genre: <%= movie.genre.name %></p>
          <p>Release Date: <%= movie.year %></p>
          <div class="movie-details">
            <% user_movie_list = current_user.user_movie_lists.find_by(movie: movie) %>
            <%= link_to "Show Details", show_by_imdb_id_path(movie.imdb_id), class: "btn-show" %>
            <%= link_to 'Remove from List', user_movie_list_path(user_movie_list), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  }, class: 'btn-show' %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
