<h1>movies show</h1>
<div class="movie-card">
  <% if @movie["Response"] == "True" %>
    <div class="movie-poster">
      <img src="<%= @movie["Poster"] %>" alt="<%= @movie["Title"] %>">
    </div>
    <div class="movie-info">
      <h3><%= @movie["Title"] %></h3>
      <p>Genre: <%= @movie["Genre"] %></p>
      <p>Release Date: <%= @movie["Released"] %></p>
      <%# <p>Mood: <%= @movie["Mood"] %></p>

      <%= link_to "Add to Favorite", add_favorite_movie_path(@movie["imdbID"]), method: :post, class: "btn btn-primary" %>
      <%= link_to "Add to Watchlist", add_watchlist_movie_path(@movie["imdbID"]), method: :post, class: "btn btn-primary" %>
    </div>
  <% else %>
    <div class="movie-info">
      <p><%= @movie["Error"] %></p>
    </div>
  <% end %>
</div>
<%= link_to "Back to Home", root_path, class: "btn btn-primary" %>
