<h1>movies show</h1>
<div class="movie-card">
  <% if @movie["Response"] == "True" %>
    <div class="movie-poster">
      <img src="<%= @movie["Poster"] %>" alt="<%= @movie["Title"] %>">
    </div>
    <div class="movie-info">
      <h3><%= @movie["Title"] %></h3>
      <p>Movie Genre: <%= @movie["Genre"] %></p>
      <p>Movie Release Date: <%= @movie["Released"] %></p>
      <div class="movie-details">
        <%# <p>Mood: <%= @movie["Mood"] %></p>
      </div>
    </div>
  <% else %>
    <div class="movie-info">
      <p><%= @movie["Error"] %></p>
    </div>
  <% end %>
</div>
<%= link_to "Back to Home", root_path, class: "btn btn-primary" %>
