<%# pages#_movies.html.erb partial %>

<% if movies.present? %>
  <div class="movie-card-container">
    <% movies.each do |movie| %>
      <div class="movie-card">
        <div class="movie-poster">
          <% if movie.poster_image_url.present? && movie.poster_image_url != "N/A" %>
            <img src="<%= movie.poster_image_url %>" alt="<%= movie.title %>">
          <% else %>
            <p>No poster available</p>
          <% end %>
        </div>
        <div class="movie-info">
          <h3><%= movie.title %></h3>
          <p>Genre: <%= movie.genre.name if movie.genre.present? %></p>
          <p>Release Date: <%= movie.year %></p>
          <div class="movie-details">
            <%# <p>Mood: <%= movie.mood_tag %></p>
            <%= link_to "Show Details", show_by_imdb_id_path(movie.imdb_id), class: "btn-show" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
