<%# home.html.erb %>
<h1>Welcome to Movie Matchmaker</h1>

<%= form_with url: root_path, method: :get, local: true do |form| %>
  <div class="form-group">
    <%= form.label :search, "Search for a movie:" %>
    <%= form.text_field :search, class: "form-control", value: params[:search] %>
  </div>
  <%= form.submit "Search", class: "btn btn-secondary" %>
<% end %>

<% if flash[:warning] %>
  <div class="alert alert-warning">
    <%= flash[:warning] %>
  </div>
<% end %>

<% if @movies.present? %>
  <h2>Search Results</h2>
  <%= render 'movies', movies: @movies %>
<% else %>
  <h2 style="text-align: center">Featured Movies</h2>
  <%= render 'movies', movies: @featured_movies %>

  <h2 style="text-align: center">Action Movies</h2>
  <%= render 'movies', movies: @action_movies %>

  <h2 style="text-align: center">Romance Movies</h2>
  <%= render 'movies', movies: @romance_movies %>

  <h2 style="text-align: center">Comedy Movies</h2>
  <%= render 'movies', movies: @comedy_movies %>
<% end %>
